<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>To Do List</title>
</head>
<body>
    <div class="overlay"></div>
    <div class="container">
        <h1>Login</h1>
        <div class="input-section">
            <form action="/auth/login" method = "POST">
                <div class="name-section">
                    <input type="text" name = "username" placeholder = "Username" required>
                </div>
                <div class="password-section">
                    <input type="password" name = "password" placeholder = "Password" required>
                </div>
                <button>Login</button>
            </form>
            <% if(usernotfound.length > 0){ %>
                <div class="error">
                    <h3><%= usernotfound %></h3>
                </div>
            <% } %>
            <a href="/register">Register</a>
        </div>
    </div>
</body>
</html>