<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>To Do List</title>
</head>
<body>
    <div class="overlay"></div>
    <div class="container">
        <h1>Register</h1>
        <div class="input-section">
            <form action="">
                <div class="name-section">
                    <input type="text" name = "name" placeholder = "Username" required>
                </div>
                <div class="email-section">
                    <input type="text" name = "email" placeholder = "Email Address" required>
                </div>
                <div class="password-section">
                    <input type="password" name = "password" placeholder = "Password" required>
                </div>
                <button>Register</button>
            </form>
            <a href="/login">Login</a>
        </div>
    </div>
</body>
</html>