@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Rajdhani:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 75px;
    color: white;
}

a {
    text-decoration: none;
}

input {
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
    outline: none;
    padding: 5px;
    margin: 7px;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    color: white;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: black;
    opacity: .7;
    z-index: -1;
}

.title {
    display: flex;
    width: 100%;
    height: 40vh;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    text-transform: capitalize;
}

.authentication {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.authentication a {
    margin: 60px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    background: seagreen;
    padding: 60px;
    border-radius: 10px;
    transition: .2s ease;
    cursor: pointer;
    color: rgb(0, 0, 85);
}

.authentication a:hover {
    transition: .2s ease;
    transform: scale(1.15);
}

.container{ 
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    width: 100%;
    height: 70%;
    position: absolute;
    margin: auto;
    text-align: center;
}

.input-section {
    background: rgba(0, 0, 0, 0.699);
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 140%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.input-section button {
    margin-top: 20px;
    background: none;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 5px;
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-size: 18px;
}

.input-section button:hover {
    transition: .2s ease;
    background: seagreen;
    transform: scale(1.15);
}

.input-section a {
    color: seagreen;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    padding-top: 50px;
    transition: .2s ease;
}

.input-section a:hover {
    transition: .2s ease;
    color: white;
    transform: scale(1.15);
}

.error {
    margin-top: 20px;
    background: rgba(255, 0, 0, 0.5);
    color: red;
    font-family: 'Rajdhani', sans-serif;
    font-size: 15px;
    padding: 10px;
}

.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.todo-list input {
    background: black;
    border: none;
    width: 400px;
}

.add {
    position: absolute;
    height: 42px;
    margin-top: 7px;
    margin-right: 5px;
    background: black;
    outline: none;
    border: none;
    color: seagreen;
    padding: 10px;
    font-size: 18px;
}

.todo {
    display: flex;
    width: 500px;
    justify-content: space-between;
    background: white;
    margin: 30px;
    border-radius: 10px;
}

.todo li {
    list-style: none;
    padding: 10px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
}

.todo button {
    margin: 10px;
    padding: 5px;
    border: none;
    outline: none;
    background: none;
    color: red;
    font-size: 18px;
    transition: .2s ease;
}

.todo button:hover {
    transition: .2s ease;
    transform: scale(1.15);
}